{include file="page_header"}
<section class="purse-header-box text-center purse-f">
    <p>当前分成</p>
    <h2>{$surplus_amount}</h2>
    <!--<h5>总额：{$totalAmount}</h5>-->
    <img src="{elixir('img/pur-bg.png')}">
    <div class="user-pur-box">
    </div>
</section>
<section class="b-color-f my-nav-box m-top10">
    <div class="user-money-list g-s-i-title-1 dis-box my-dingdan purse-f">
        <a href="javascript:void(0)" class="box-flex text-center">
            <p class="t-remark3">总分成</p>
            <h5 class="ellipsis-one">{$totalAmount}</h5>
            <div class="purse-ts-box" style="display:none"></div>
        </a>
        <a href="javascript:void(0)" class="box-flex text-center">
            <p class="t-remark3">已分成</p>
            <h5 class="ellipsis-one">{$dis_amount}</h5>
            <div class="purse-ts-box" style="display:none"></div>
        </a>
        <a href="javascript:void(0)" class="box-flex text-center">
            <p class="t-remark3">剩余分成</p>
            <h5 class="ellipsis-one">{$surplus_amount}</h5>
            <div class="purse-ts-box" style="display:none"></div>
        </a>
    </div>
</section>
<nav class="b-color-f user-nav-box m-top08">
    <div class="box ul-4 text-c b-color-f">
        <a href="{url('user/account/distributionDetail')}">
            <label><i class="iconfont icon-3shouce color-fe"></i></label>
            <p class="f-02 col-7">分成明细</p>
        </a>
        <a href="{url('user/account/distributionApply')}" class="">
            <label><i class="iconfont icon-dianpu color-f9c"></i></label>
            <p class="f-02 col-7">申请分成</p>
        </a>
        <a href="{url('user/account/distributionOrder')}">
            <label><i class="iconfont icon-zichou color-fe"></i></label>
            <p class="f-02 col-7">分成订单</p>
        </a>
        <a href="{url('user/account/distributionTeam')}" class="">
            <label><i class="iconfont icon-wodetuandui color-f9c"></i></label>
            <p class="f-02 col-7">我的团队({$teamCount}人)</p>
        </a>
    </div>
</nav>
<style>
    .user-nav-box .ul-4 a {
        width: 50%;
        float: left;
        border-right: 1px solid #f6f6f9;
        border-bottom: 1px solid #f6f6f9;
        box-sizing: border-box;
        padding: 1.6rem 0 1.6rem 0;
    }
</style>

<!--快捷导航-->
<!--{include file="float_nav"}-->
{include file="float_nav_footer"}

</body>

</html>